Repository lin826/PR-reviewer-agent-demo: changes, and which pre-commit hooks are due for each by the changed paths.
All: basedpyright-check, typescript-check

.pre-commit-config.yaml:

repos:
  # Python formatting and linting
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.4
    hooks:
      - id: ruff
        name: ruff-fix
        args: [--fix]
      - id: ruff
        name: ruff-check
        args: []
      - id: ruff-format

  # Python type checking
  - repo: local
    hooks:
      - id: basedpyright-check
        name: basedpyright-check
        entry: uv run basedpyright
        language: system
        files: \.py$
        pass_filenames: false

  # JavaScript/TypeScript formatting and linting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: \.(js|ts|tsx|json|yaml|yml|md|css|html)$
        exclude: ^data/

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.17.0
    hooks:
      - id: eslint
        name: eslint-fix
        language: node
        entry: npx eslint
        files: \.(js|ts|tsx)$
        args: [--fix]
      - id: eslint
        name: eslint-check
        language: node
        entry: npx eslint
        files: \.(js|ts|tsx)$

  # TypeScript type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: typescript-check
        entry: npx tsc --noEmit
        language: system
        files: \.(ts|tsx)$
        pass_filenames: false

  # General checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (\.md$|^data/)
      - id: end-of-file-fixer
        exclude: ^data/
      - id: check-yaml
      - id: check-json
        exclude: tsconfig\.json$
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']

Update issue selection flow (#6)
  .vscode/settings.json
  README.md
  frontend/src/App.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/MarkdownEditor.tsx
Due: typescript-check

Add draft functionality and limit label counts to only successful patches (#7)
  backend/api/admin.py
  backend/api/labels.py
  backend/api/selectors.py
  backend/main.py
  backend/services/file_service.py
  backend/services/label_stats_cache.py
  data/labels/20250316_augment_agent_v0/pylint-dev__pylint-6386.md
  data/labels/20250515_Refact_Agent/pylint-dev__pylint-6386.md
  data/labels/20250519_trae/pylint-dev__pylint-6386.md
  data/labels/20250611_moatless_claude-4-sonnet-20250514/pylint-dev__pylint-6903.md
  eslint.config.js
  frontend/src/App.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/MainContent.tsx
  frontend/src/components/MarkdownEditor.tsx
  frontend/src/components/StatusBar.tsx
  frontend/src/hooks/useAutosave.ts
  frontend/src/services/api.ts
  frontend/src/services/draftManager.ts
  frontend/src/styles/main.css
  shared/models.py
  shared/types.ts
Due: basedpyright-check, typescript-check

Filter dockerfile + tests (#8)
  frontend/src/components/MainContent.tsx
  frontend/src/components/SimpleDiffViewer.tsx
Due: typescript-check

Update header and more filtering (#9)
  frontend/index.html
  frontend/src/components/Header.tsx
  frontend/src/components/SimpleDiffViewer.tsx
  frontend/src/styles/main.css
Due: typescript-check

revert issue link (#10)
  backend/services/data_scanner.py
  frontend/src/components/Header.tsx
  frontend/src/components/MainContent.tsx
Due: basedpyright-check, typescript-check

Matplotlib labels (#11)
  data/labels/20250316_augment_agent_v0/matplotlib__matplotlib-13989.md
  data/labels/20250316_augment_agent_v0/matplotlib__matplotlib-14623.md
  data/labels/20250316_augment_agent_v0/matplotlib__matplotlib-20676.md
  data/labels/20250415_openhands/matplotlib__matplotlib-13989.md
  data/labels/20250415_openhands/matplotlib__matplotlib-14623.md
  data/labels/20250503_patchpilot-v1.1-o4-mini/matplotlib__matplotlib-13989.md
  data/labels/20250503_patchpilot-v1.1-o4-mini/matplotlib__matplotlib-14623.md
  data/labels/20250503_patchpilot-v1.1-o4-mini/matplotlib__matplotlib-20826.md
  data/labels/20250515_Refact_Agent/matplotlib__matplotlib-13989.md
  data/labels/20250515_Refact_Agent/matplotlib__matplotlib-14623.md
  data/labels/20250515_Refact_Agent/matplotlib__matplotlib-20826.md
  data/labels/20250519_trae/matplotlib__matplotlib-13989.md
  data/labels/20250519_trae/matplotlib__matplotlib-14623.md
  data/labels/20250522_sweagent_claude-4-sonnet-20250514/matplotlib__matplotlib-13989.md
  data/labels/20250522_sweagent_claude-4-sonnet-20250514/matplotlib__matplotlib-14623.md
  data/labels/20250522_sweagent_claude-4-sonnet-20250514/matplotlib__matplotlib-20826.md
  data/labels/20250524_openhands_claude_4_sonnet/matplotlib__matplotlib-13989.md
  data/labels/20250524_openhands_claude_4_sonnet/matplotlib__matplotlib-14623.md
  data/labels/20250603_Refact_Agent_claude-4-sonnet/matplotlib__matplotlib-13989.md
  data/labels/20250603_Refact_Agent_claude-4-sonnet/matplotlib__matplotlib-14623.md
  data/labels/20250603_Refact_Agent_claude-4-sonnet/matplotlib__matplotlib-20676.md
  data/labels/20250603_Refact_Agent_claude-4-sonnet/matplotlib__matplotlib-20826.md
  data/labels/20250610_augment_agent_v1/matplotlib__matplotlib-13989.md
  data/labels/20250610_augment_agent_v1/matplotlib__matplotlib-14623.md
  data/labels/20250610_augment_agent_v1/matplotlib__matplotlib-20826.md
  data/labels/20250611_moatless_claude-4-sonnet-20250514/matplotlib__matplotlib-13989.md
  data/labels/20250611_moatless_claude-4-sonnet-20250514/matplotlib__matplotlib-14623.md
  data/labels/20250611_moatless_claude-4-sonnet-20250514/matplotlib__matplotlib-20826.md
Due: none

Moatless patch fix (#12)
  backend/api/problems.py
  backend/api/selectors.py
  frontend/src/components/MainContent.tsx
  frontend/src/components/SimpleDiffViewer.tsx
Due: basedpyright-check, typescript-check

Add Claude model
  anthropic-example.py
  compare.ipynb
  data/labels/20250522_sweagent_claude-4-sonnet-20250514/django__django-10097.md
  data/labels/20250522_sweagent_claude-4-sonnet-20250514/sympy__sympy-24661.md
Due: basedpyright-check
